<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skycloud.base.codegen.mapper.CodegenMapper">

    <resultMap id="BaseResultMap" type="com.skycloud.base.codegen.model.po.Codegen">
        <id property="id" javaType="java.lang.Long" column="id"/>
        <result property="packageName" javaType="java.lang.String" column="package_name"/>
        <result property="moduleName" javaType="java.lang.String" column="module_name"/>
        <result property="serviceName" javaType="java.lang.String" column="service_name"/>
        <result property="tablePrefix" javaType="java.lang.String" column="table_prefix"/>
        <result property="entityNameSuffix" javaType="java.lang.String" column="entity_name_suffix"/>
        <result property="tableName" javaType="java.lang.String" column="table_name"/>
        <result property="dalType" javaType="java.lang.Integer" column="dal_type"/>
        <result property="datasourceId" javaType="java.lang.Long" column="datasource_id"/>
        <result property="author" javaType="java.lang.String" column="author"/>
        <result property="createTime" javaType="java.util.Date" column="create_time"/>
        <result property="updateTime" javaType="java.util.Date" column="update_time"/>
        <result property="createBy" javaType="java.lang.String" column="create_by"/>
        <result property="updateBy" javaType="java.lang.String" column="update_by"/>
        <result property="disabled" javaType="java.lang.Integer" column="disabled"/>
        <result property="remark" javaType="java.lang.String" column="remark"/>
    </resultMap>

    <sql id="BaseColumnList">
         id,
         package_name,
         module_name,
         service_name,
         table_prefix,
         entity_name_suffix
         table_name,
         dal_type,
         datasource_id,
         author,
         create_time,
         update_time,
         create_by,
         update_by,
         disabled,
         remark
    </sql>
</mapper>
