<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skycloud.base.log.mapper.SystemLogMapper">

    <resultMap id="BaseResultMap" type="com.skycloud.base.log.model.po.SystemLog">
        <id property="id" javaType="java.lang.Long" column="id"/>
        <result property="type" javaType="java.lang.Integer" column="type"/>
        <result property="bizType" javaType="java.lang.Integer" column="biz_type"/>
        <result property="remark" javaType="java.lang.String" column="remark"/>
        <result property="createTime" javaType="java.util.Date" column="create_time"/>
        <result property="updateTime" javaType="java.util.Date" column="update_time"/>
        <result property="createBy" javaType="java.lang.String" column="create_by"/>
        <result property="updateBy" javaType="java.lang.String" column="update_by"/>
        <result property="disabled" javaType="java.lang.Integer" column="disabled"/>
    </resultMap>

    <sql id="BaseColumnList">
       id,
       type,
       biz_type,
       remark,
       create_time,
       update_time,
       create_by,
       update_by,
       disabled
   </sql>
</mapper>
