<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skycloud.base.log.mapper.SystemLogMapper">

    <resultMap id="BaseResultMap" type="com.skycloud.base.log.model.po.SystemLog">
        <id property="id" javaType="java.lang.Long" column="id"/>
        <result property="type" javaType="java.lang.Integer" column="type"/>
        <result property="bizType" javaType="java.lang.Integer" column="biz_type"/>
        <result property="remark" javaType="java.lang.String" column="remark"/>
        <result property="createdTime" javaType="java.util.Date" column="created_time"/>
        <result property="updatedTime" javaType="java.util.Date" column="updated_time"/>
        <result property="createdBy" javaType="java.lang.String" column="created_by"/>
        <result property="updatedBy" javaType="java.lang.String" column="updated_by"/>
        <result property="disabled" javaType="java.lang.Integer" column="disabled"/>
    </resultMap>

    <sql id="BaseColumnList">
       id,
       type,
       biz_type,
       remark,
       created_time,
       updated_time,
       created_by,
       updated_by,
       disabled
   </sql>
</mapper>
