<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skycloud.base.authentication.mapper.RoleResourceMapper">

    <resultMap id="BaseResultMap" type="com.skycloud.base.authentication.model.po.RoleResource">
        <id property="id" javaType="java.lang.Long" column="id"/>
        <result property="resourceId" javaType="java.lang.Integer" column="resource_id"/>
        <result property="roleId" javaType="java.lang.Integer" column="role_id"/>
        <result property="createdTime" javaType="java.util.Date" column="created_time"/>
        <result property="updatedTime" javaType="java.util.Date" column="updated_time"/>
        <result property="createdBy" javaType="java.lang.String" column="created_by"/>
        <result property="updatedBy" javaType="java.lang.String" column="updated_by"/>
        <result property="disabled" javaType="java.lang.Integer" column="disabled"/>
    </resultMap>

    <sql id="BaseColumnList">
       id,
       resource_id,
       role_id,
       created_time,
       updated_time,
       created_by,
       updated_by,
       disabled
    </sql>

</mapper>
