<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skycloud.base.authentication.mapper.RoleResourceMapper">

    <resultMap id="BaseResultMap" type="com.skycloud.base.authentication.model.po.RoleResource">
        <id property="id" javaType="java.lang.Long" column="id"/>
        <result property="resourceId" javaType="java.lang.Integer" column="resource_id"/>
        <result property="roleId" javaType="java.lang.Integer" column="role_id"/>
        <result property="createTime" javaType="java.util.Date" column="create_time"/>
        <result property="updateTime" javaType="java.util.Date" column="update_time"/>
        <result property="createBy" javaType="java.lang.String" column="create_by"/>
        <result property="updateBy" javaType="java.lang.String" column="update_by"/>
        <result property="disabled" javaType="java.lang.Integer" column="disabled"/>
    </resultMap>

    <sql id="BaseColumnList">
       id,
       resource_id,
       role_id,
       create_time,
       update_time,
       create_by,
       update_by,
       disabled
    </sql>

</mapper>
