package ${package}.${moduleName}.model.po;

import lombok.Data;
import lombok.EqualsAndHashCode;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.sql.Date;
#end
#if(${hasTimestamp})
import java.sql.Timestamp;
#end
#if(${hasUtilDate})
import java.util.Date;
import com.fasterxml.jackson.annotation.JsonFormat;
import org.springframework.format.annotation.DateTimeFormat;
#end
import tk.mybatis.mapper.annotation.KeySql;

import javax.persistence.Column;
import javax.persistence.Id;
import javax.persistence.Transient;
import java.io.Serializable;
import javax.persistence.Column;
import javax.persistence.Table;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@Table(name = "${tableName}")
public class ${entityName} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.columnName == $pk.columnName)
    @Id
    @KeySql(useGeneratedKeys = true)
    private Long id;
#elseif($column.columnName == "create_time")
    /**
     * 创建时间
     */
    @Column(name = "create_time")
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    private Date createTime;
#elseif($column.columnName == "create_by")
    /**
     * 创建人
     */
    @Column(name = "create_by")
    private String createBy;
#elseif($column.columnName == "update_time")
    /**
     * 更新时间
     */
    @Column(name = "update_time")
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    private Date updateTime;
#elseif($column.columnName == "update_by")
    /**
     * 更新人
     */
    @Column(name = "update_by")
    private String updateBy;
#elseif($column.columnName == "disabled")
    /**
     * 删除标志位
     *
     * 0 未删除 1 已删除
     */
    @Column(name = "disabled")
    private Integer disabled;
#else
    /**
     * $column.comments
     */
#if($column.columnName != $column.lowerAttrName)
    @Column(name = "${column.columnName}")
#end
#if($column.entityAttrType == "Date")
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
#end
    private $column.entityAttrType $column.lowerAttrName;
#end
#end
    @Transient
    private Integer pageNum;

    @Transient
    private Integer pageSize;

    @Transient
    private String orderBy;

}
