package ${package}.${moduleName}.mapper;

import com.sky.framework.mybatis.MyMapper;
import ${package}.${moduleName}.model.po.${entityName};
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
@Repository
public interface ${className}Mapper extends MyMapper<${entityName}> {

}
