package ${package}.${moduleName}.service;

import com.sky.framework.mybatis.service.IService;
import ${package}.${moduleName}.model.po.${entityName};

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${entityName}> {


}
